<div class="main-banner">
 <!-- <div class="owl-carousel owl-banner">-->
  <div class=" owl-banner">
    <div class="item item-1">
      <div class="header-text">
        <span class="category">Tanger, <em>Morocco</em></span>
        <h2>SOIS RAPIDE!<br>Trouve la meilleure villa en Tanger</h2>
      </div>
    </div>
    <div class="item item-2">
      <div class="header-text">

        <span class="category">Marrakech, <em>Morocco</em></span>
        <h2>DEPECHEZ-VOUS!<br>OBTENEZ LA MEILLEURE VILLA POUR VOUS</h2>
      </div>
    </div>
    <div class="item item-3">
      <div class="header-text">
        <span class="category">Casablanca, <em>Morocco</em></span>
        <h2>NE TARDEZ PAS!<br>Trouvez la villa parfaite dès maintenant</h2>
      </div>
    </div>
  </div>
</div>


